@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');


body {
    background-image: url('cont.png');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    /* text-align: center; */
    background-color: #faf4fa;
    /* width: 100%; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section .contentBox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

section .contentBox .formBox{
    width: 50%;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    margin: 50px;

}

section .contentBox .formBox h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;

}

section .contentBox .formBox .inputBx{
    margin-bottom: 20px;
}

section .contentBox .formBox .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #234b60;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;

}

section .contentBox .formBox .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
    

}

section .contentBox .formBox .inputBx input[type="submit"]{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

section .contentBox .formBox .inputBx input[type="submit"]:hover{
    background: #f53677;
}

section .contentBox .formBox .remeber{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

section .contentBox .formBox p{
    color: #607d8b;
}

section .contentBox .formBox p a{
    color: #ff4584;
}

@media (max-width: 768px) {
    section .contentBox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBox .formBox{
        width: 100%;
        padding: 40px;
        background: rgba(255, 255, 255, 0.9);
        margin: 50px;
    }
    
    section .contentBox .formBox h3{
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;

    }
    
}